/* INIZIO COMMON */

[class*="col"] {
    min-height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
    padding: 15px;
}

[class*="nested"]{
    min-height: 50px;
    border: 1px solid white;
}
.row {
    color: white;
}
.double {
    height: 100px;
    color: transparent;
}

/* FINE COMMON */


/* DEBUG */
/* .container {
    border: 2px solid black;
} */

@media screen and (max-width: 575px) {
    [class*="col"] {
        background-color: #F98866;
    }
    [class*="nested"] {
        background-color: #89DA59;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {

    [class*="col"] {
        background-color: #FF420E;
    }
    [class*="nested"] {
        background-color: #80BD9E;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    [class*="col"] {
        background-color: #80BD9E;
    }
    [class*="nested"] {
        background-color: #F98866;
    }
}

@media screen and (min-width: 992px) {
    [class*="col"] {
        background-color: #89DA59;
    }
    [class*="nested"] {
        background-color: #FF420E;
    }
}


